<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>GO留言板</title>
		<link rel="stylesheet" href="http://wx.ran365.cn/static/css/pager.css" />
        <style>pre{white-space: pre-wrap;font-size:1.2em;}</style>
    </head>
<body>
    {{range .Data}}
    {{with .Author}}<b>{{.|html}}</b>{{else}}匿名{{end}}
    于 <em>{{.PostDate.Format "2006-01-02 15:04:05"}}</em> -- <a href="/details/{{.Id}}">查看</a> -- <a href="/delete/{{.Id}}">删除</a>
    <pre>{{.Content|html}}</pre>
    {{end}}
	<div class="pagerholder">
	{{.ToHtml}}
	</div>
    <form action="/sign" method="post">
        <fieldset>
            <legend>Write a message</legend>
            <dl><dt>Body：</dt><dd><textarea id="content" name="content" rows="3" cols="60"></textarea></dd></dl>
            <dl><dt>Name：</dt><dd><input id="author" name="author" type="text" /></dd></dl>
            <dl><dt></dt><dd><input type="submit" name="submit" value="Submit" /></dd></dl>
        </fieldset>
    </form>
</body>
</html>